.post_form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}
.add_post_container {
    border-radius: 5px;
    padding:20px;
    display:flex;
    background-color: rgba(255, 255, 255, 0.139);
    background-color: rgb(215, 215, 215);
    height:auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.input_picture {
    width:45px !important;
    height:45px !important;
    border-radius: 50% !important;
    margin-right:10px !important;
}

.post_form_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.status_post_textarea {
    width:100%;
    height:auto;
    border-radius: 5px;
    color:black;
    opacity: .7;
    border: none;
    caret-color: black;
}
.status_post_textarea::-webkit-input-placeholder {
    color:rgba(0, 0, 0, 0.532) !important;
}
textarea {
    font-size: 1.6rem;
    outline: none;
    resize: none;
    background-color: transparent;
}
.bottom_posts_container {
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-top-style: solid;
    border-top-width: 1.5px;
    padding-top: 10px;
    border-color: rgba(128, 128, 128, 0.228);
}
.emoji_select {
    color:black;
    cursor: pointer;
}
.emoji_select:hover{
    color:rgb(212, 189, 9);
    transform: scale(1.1);
}
.emoji_search {
    caret-color: black !important;
}
.bottom_icon_bar_wrapper {
    width: 100%;
}
.input_icons_bar {
    width:70%;
    display:flex; 
    justify-content: space-between;
    align-items: center;
}
@media (max-width:400px){
    .emoji_title {
        display:none;
    }
}