.signup_label {
    display:flex;
    flex-direction: column;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
    color:rgb(85, 128, 227);
    border-bottom-style: solid;
    border-color: rgb(199, 199, 199);
    border-bottom-width: 2px;
    box-sizing: border-box;
}
.signup_username{
    color:white;
}
.signup_sideimage_logo {
    max-width: 50%;
}
.signup_action_buttons {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px !important;
}
.signup-container{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    box-sizing: border-box;
    background:#ffffff38;
    width: 450px;
    padding: 1.5rem;
    border-style: solid;
    border-radius: 15px;
    font-family: 'Mulish', sans-serif;
    backdrop-filter: blur(20px);
}
.space{
    display:flex;
    justify-content: center;
    align-items: center;
}
.form-errors{
    color:rgb(120, 2, 2);
    font-weight: bolder;
}
.signup_input_wrapper {
    margin: 15px 0px;
}
.requirement-warning{
    display:flex;
    align-items: center;
    font-weight: bolder;
}
@media (max-width:999px) {
    .signup_sideimage_logo {
        display:none
    }
    .signup-container{
        margin:1rem;
    }
}
@media(max-width:281px) {
    .signup-container{
        margin:.2rem;
    }
    .signup-title {
        font-size: 1rem;
    }
}