.signup_label {
    display:flex;
    flex-direction: column;
    margin: 15px 0px;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
    color:rgb(85, 128, 227)
}
.signup_username{
    color:white;
}
.signup_sideimage_logo {
    max-width: 50%;
}
.signup-container{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(0, 0, 0, 0.35) 0px -2px 6px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    box-sizing: border-box;
    background:#ffffff38;
    width:450px;
    padding:30px;
    border-style: solid;
    border-radius: 15px;
    font-family: 'Mulish', sans-serif;
}
@media (max-width:999px) {
    .signup_sideimage_logo {
        display:none
    }
    .signup-container{
        margin:1rem;
    }
}
@media(max-width:281px) {
    .signup-container{
        margin:.2rem;
    }
    .signup-title {
        font-size: 1rem;
    }
}