.display_container {
    display: flex;
    width: 100%;
    height: 94vh;
    justify-content: center;
}
.display_newsfeed_wrapper {
    margin:10px;
    width:50%;
    display:flex;
    height:auto;
}

.newsfeed_container {
    max-height:100vh;
    width:50%;
    margin: 0 20px;
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
}
.post_title {
    display:"flex";
    width:100%;
    gap:3%;
    align-items: center;
}
.post_container_section {
    margin-top: 10px !important;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.posts_articles {
    display:flex;
    font-size: 1.5rem;
    background-color: var(--white-background);
    margin:20px 0px;
    border-radius: 5px;
    padding:20px;
}
.posts_image{
    width:45px !important;
    height:45px !important;
    /* border-radius: 50%; */
    margin: 0px 10px !important;
    cursor: pointer;
}
.title_wrapper {
    width:100%;
    display:flex;
    justify-content: space-between;
}
.outer_posts_container {
    background-color: rgba(128, 128, 128, 0.205);
    background-color: transparent;
    border-radius: 5px;
}
.inner_post_container {
    display:flex;
    flex-grow: 1;
    flex-direction: column;
    word-wrap: break-word;
    min-width: 0;
    gap:20px;
}
.posts_icon_wrapper {
    display:flex;
    justify-content: space-between;
    align-items: center;
    min-height:39px;
    gap: 15px;
    flex-wrap: wrap-reverse;
} 

.heart_button_outline:hover{
    color:red;
}
.posts_icon_bar {
    display: flex;
    gap:10%;
    width:50%;
}
.dss {
    border-color: gray !important;
}
.online {
    position: relative;
    min-width: 7px;
    max-width: 7px;
    min-height: 7px;
    max-height: 7px;
    border-radius: 50%;
    color:rgb(0, 128, 0);
    background-color: green;
    border-style: solid;
    top:35px;
    right:27px;
    border-style: solid;
    border-color: rgb(232, 231, 231);
}
.online:hover{
    animation: online-pulse 2s infinite;
}
.meeting_bar {
    display: flex;
    align-items: center;
    gap: 1%;
}
@keyframes online-pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 128, 0, 0.393);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 5px rgba(0, 128, 0, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 128, 0, 0);
    }
}
@media (max-width:2075px){
    .display_newsfeed_wrapper{
        width:60%;
    }
}
@media (max-width:1800px){
    .display_newsfeed_wrapper{
        width:70%;
    }
}
@media (max-width:1500px) {
    .display_newsfeed_wrapper{
        width:100%;
    }
}
@media (max-width:785px) {
    .newsfeed_container {
        max-height: none;
        width:100%;
    }
}
@media (max-width:500px){
    .right_sidebar{
        display: none;
    }
    .display_container{
        width:100%;
    }
    .display_newsfeed_wrapper{
        width:100%;
    }
    .posts_articles{
        margin:10px 0px 10px 0px;
    }
    .meeting_bar {
        gap: 5%;
    }
}
