.rbc-agenda-view::-webkit-scrollbar-thumb {
    border-radius: 5px !important;
    background-color: rgba(0,0,0,.5) !important;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5) !important;
}
.rbc-agenda-view::-webkit-scrollbar {
    height: .75rem !important;
}
.rbc-toolbar-label {
    font-weight: 900 !important;
}
.event_calendar {
    max-height: 400px !important;
}
.rbc-toolbar button {
    font-weight: 700 !important;
}